* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.nav2 {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  align-items: center;
  margin-top: 1rem;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.applog {
  display: inline;
  justify-content: left;
  padding: 0 2rem;
}

.contenedor-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-inicio {
  text-align: center;
  height: 80vh;
}

.logo {
  height: 4.25rem;
}

.login {
  display: flex;
}

.form-control {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.form-control1 {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 200px;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.form-select {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 100%;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.btn-dark {
  border: none;
  height: 3.5rem;
  width: 3.5rem;
  --bs-btn-bg: #444;
  --bs-btn-hover-bg: rgb(240, 108, 56);
}

.btn-registrar {
  padding: 1rem;
  color: #333;
  font-size: 1rem;
}

.login__btn1 {
  border: none;
  border-radius: 10rem;
  background: none;
  font-size: 1.9rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  width: 300px;
  text-align: right;
}

.login__btn2 {
  border: none;
  border-radius: 10rem;
  background: none;
  font-size: 1.9rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  width: fit-content;
  text-align: right;
}

.close__btn2 {
  border: none;
  border-radius: 10rem;
  background: none;
  text-decoration: none;
  font-size: 1.9rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  width: fit-content;
}

.login__btn {
  border: none;
  border-radius: 10rem;
  background: none;
  font-size: 1.9rem;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

.login__btn1:hover,
.login__btn1:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2rem;
}

/* NOTE This creates the fade in/out anumation 
  opacity: 0;
  transition: all 1s; */

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */

.movements {
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

/* --- empieza modal--- */

.modalmask {
  position: fixed;
  font-family: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalmask:target {
  opacity: 1;
  pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox {
  width: 67vw;
  position: relative;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  max-height: 70vh;
  overflow-y: auto;
}

/*Movimientos*/
.movedown {
  margin: 0 auto;
}

.modalmask:target .movedown {
  margin: 10% auto;
}

/*Boton de cerrar*/
.close {
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

/* --- fin modal--- */

/* --- historial y lista --- */

.movements__fecha {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin-right: 2rem;
}

.movements__marca {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin-right: 2rem;
}

.movements__valordia {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  margin-right: 2rem;
}

.movements__type--devuelto {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--pendiente {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__placa {
  font-size: 1.7rem;
  margin-left: auto;
}
.movements__marca {
  font-size: 1rem;
  margin-left: auto;
}

dialog::backdrop {
  background: rgba(234, 206, 227, 0.9);
}

/* --- fin historial --- */

a {
  color: inherit;
}

a:hover {
  color: rgb(240, 108, 56);
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--rentar {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--devolver {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}
